body {
  	background: url('../asset/img/Sky04_2_beforeNight.jpg') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
  	animation: gradient 100s linear infinite;
    font-family: 'Mitr', sans-serif;}

    @keyframes gradient {
    	0% {
    		background-position: 0% 50%;
    	}
    	50% {
    		background-position: 100% 50%;
    	}
    	100% {
    		background-position: 0% 50%;
    	}
    }
