@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


  footer {
    position: fixed;
width: 100%;
left: 0px;
bottom: 0px;
    z-index: 6;
}
 .text_wish{font-family: 'Sriracha', cursive;};
 .card_fall1{max-width: 100px;}
 .textshadow{text-shadow: -5px 4px 11px rgba(0, 0, 0, 1);}
 .centered {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-25%, -25%);
}

.w-33{width: auto;}

.papar_bg{
  background: url('../asset/img/papar_1.jpg');
  background-size: cover !important;
  background-position: center center !important;
}

.papar_bg_2{
  background: url('../asset/img/papar_2.jpg');
  background-size: cover !important;
  background-position: center center !important;

}


/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
.btn-btn-six_1 {
  background: rgb(63,94,251);
  background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 61%);
  outline: none !important;
}
.btn-btn-six_1:hover, .btn-btn-six_1:focus, .btn-btn-six_1:active, .btn-btn-six_1.active, .open>.dropdown-toggle.btn-btn-six_1 {
  background: rgb(63,94,251);
  background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.zoom{transition: all 0.5s ease-in-out !important; /* Animation */
transform: scale(1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
-webkit-filter: drop-shadow(5px 5px 5px rgba(255, 0, 0, 0.3));
filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));

}

.zoom:hover {
  transition: all 1s ease-in-out !important; /* Animation */
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

.zoom_ex{transition: all 0.5s ease-in-out !important; /* Animation */
transform: scale(1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
-webkit-filter: drop-shadow(3px 3px 3px rgba(255, 0, 0, 0.5));
filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

.zoom_ex:hover {
  transition: all 1s ease-in-out !important; /* Animation */
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

.btn_newWish {
  background: rgb(63,124,251);
  background: linear-gradient(90deg, rgba(63,124,251,1) 0%, rgba(252,70,77,1) 100%);
  background-size: 400% 400%;
  -webkit-animation: xmas_btn_ani 8s ease infinite;
  -o-animation: xmas_btn_ani 8s ease infinite;
  animation: xmas_btn_ani 8s ease infinite;

}
.btn_newWish:hover{
  background: rgb(63,196,251);
  background: linear-gradient(90deg, rgba(63,196,251,1) 0%, rgba(252,70,220,1) 100%);
  background-size: 400% 400%;
  -webkit-animation: xmas_btn_ani 4s ease infinite;
  -o-animation: xmas_btn_ani 4s ease infinite;
  animation: xmas_btn_ani 4s ease infinite;

}

.btn_allWish {
  background: rgb(105,123,255);
background: linear-gradient(90deg, rgba(105,123,255,1) 0%, rgba(255,134,134,1) 100%);
  background-size: 400% 400%;

-webkit-animation: xmas_btn_ani 8s ease infinite;
-o-animation: xmas_btn_ani 8s ease infinite;
animation: xmas_btn_ani 8s ease infinite;

}
.btn_allWish:hover{
  background: rgb(105,171,255);
  background: linear-gradient(90deg, rgba(105,171,255,1) 0%, rgba(255,170,134,1) 100%);
  background-size: 400% 400%;
  -webkit-animation: xmas_btn_ani 4s ease infinite;
  -o-animation: xmas_btn_ani 4s ease infinite;
  animation: xmas_btn_ani 4s ease infinite;
  transition: all 10s;
}

.btn_fact {
  background: rgb(42,0,255);
  background: linear-gradient(90deg, rgba(42,0,255,1) 0%, rgba(0,255,238,1) 100%);
  background-size: 400% 400%;

-webkit-animation: xmas_btn_ani 8s ease infinite;
-o-animation: xmas_btn_ani 8s ease infinite;
animation: xmas_btn_ani 8s ease infinite;
transition: 4s;
}
.btn_fact:hover{
  background: rgb(58,145,80);
  background: linear-gradient(90deg, rgba(58,145,80,1) 0%, rgba(110,184,179,1) 100%);
  background-size: 400% 400%;
  -webkit-animation: xmas_btn_ani 4s ease infinite;
  -o-animation: xmas_btn_ani 4s ease infinite;
  animation: xmas_btn_ani 4s ease infinite;
}

.btn_dev {
  background: rgb(255,0,0);
 background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,95,255,1) 100%);
  background-size: 400% 400%;
-webkit-animation: xmas_btn_ani 8s ease infinite;
-o-animation: xmas_btn_ani 8s ease infinite;
animation: xmas_btn_ani 8s ease infinite;

}
.btn_dev:hover{
  background: rgb(255,106,0);
  background: linear-gradient(90deg, rgba(255,106,0,1) 0%, rgba(0,164,255,1) 100%);
  background-size: 400% 400%;
  -webkit-animation: xmas_btn_ani 4s ease infinite;
  -o-animation: xmas_btn_ani 4s ease infinite;
  animation: xmas_btn_ani 4s ease infinite;
}


@-webkit-keyframes xmas_btn_ani {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@-o-keyframes xmas_btn_ani {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@keyframes xmas_btn_ani {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #6f7275;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #093344;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0E4A62;
}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

.max-img-table{max-width: 150px}


 a {
        text-decoration:none;
     }

  html {scroll-behavior: smooth;}

}

@-webkit-keyframes snowflakes-fall {
	0% {
		top: -50%
	}
	100% {
		top: 100%
	}
}

@-webkit-keyframes snowflakes-shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
	50% {
		-webkit-transform: translateX(80px);
		transform: translateX(80px)
	}
}

@keyframes snowflakes-fall {
	0% {
		top: -20%
	}
	100% {
		top: 100%
	}
}

@keyframes snowflakes-shake {
	0%,
	100% {
		transform: translateX(0)
	}
	50% {
		transform: translateX(80px)
	}
}

.snowflake {
	position: fixed;
	top: -20%;
	z-index: 9999;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	-webkit-animation-name: snowflakes-fall, snowflakes-shake;
	-webkit-animation-duration: 15s, 5s;
	-webkit-animation-timing-function: linear, ease-in-out;
	-webkit-animation-iteration-count: infinite, infinite;
	-webkit-animation-play-state: running, running;
	animation-name: snowflakes-fall, snowflakes-shake;
	animation-duration: 15s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	animation-play-state: running, running;
  transform: scale(1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition: all 1s ease-in-out !important; /* Animation */
}
.zoom_card{
transition: all 1s ease-in-out !important; /* Animation */
transform: scale(1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
-webkit-filter: drop-shadow(3px 3px 3px rgba(255, 0, 0, 0.5));
filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5)) brightness(1) grayscale(0) opacity(1);
}

.zoom_card:hover {
  filter: brightness(0.8) grayscale(0) opacity(1);
  transition: all 1s ease-in-out !important; /* Animation */
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}


.snowflake:nth-of-type(0) {
	left: 1%;
	-webkit-animation-delay: 0s, 0s;
	animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
	left: 10%;
	-webkit-animation-delay: 2s, 2s;
	animation-delay: 1s, 2s
}

.snowflake:nth-of-type(2) {
	left: 20%;
	-webkit-animation-delay: 12s, 1s;
	animation-delay: 12s, 1s;
}

.snowflake:nth-of-type(3) {
	left: 30%;
	-webkit-animation-delay: 8s, 4s;
	animation-delay: 8s, 4s
}

.snowflake:nth-of-type(4) {
	left: 40%;
	-webkit-animation-delay: 4s, 4s;
	animation-delay: 4s, 4s
}

.snowflake:nth-of-type(5) {
	left: 50%;
	-webkit-animation-delay: 16s, 6s;
	animation-delay: 16s, 6s
}

.snowflake:nth-of-type(6) {
	left: 60%;
	-webkit-animation-delay: 12s, 4s;
	animation-delay: 12s, 4s
}

.snowflake:nth-of-type(7) {
	left: 70%;
	-webkit-animation-delay: 5s, 2s;
	animation-delay: 5s, 2s
}

.snowflake:nth-of-type(8) {
	left: 80%;
	-webkit-animation-delay: 2s, 1s;
	animation-delay: 2s, 1s
}

.snowflake:nth-of-type(9) {
	left: 90%;
	-webkit-animation-delay: 6s, 3s;
	animation-delay: 6s, 3s;
}

.snowflake:nth-of-type(10) {
	left: 25%;
	-webkit-animation-delay: 4s, 2s;
	animation-delay: 4s, 2s;
}

.snowflake:nth-of-type(11) {
	left: 65%;
	-webkit-animation-delay: 8s, 5s;
	animation-delay: 8s, 5s;
}


/*
@-webkit-keyframes snowflakes-fall{0%{top:-50%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}
*/
